fairseq==0.12.2
Flask==2.2.2
Flask==1.1.2
lmdb==1.4.1
matplotlib==3.5.1
matplotlib==3.6.0
matplotlib==3.5.2
numpy==1.15.1
numpy==1.21.6
numpy==1.21.5
Pillow==9.0.1
Pillow==9.2.0
Pillow==9.5.0
scipy==1.8.1
scipy==1.7.3
selenium==4.8.3
tensorboardX==2.6
tensorflow==2.10.0
torch==1.12.1
torchvision==0.13.1
tqdm==4.64.0
tqdm==4.64.1
