{% extends "layout.html" %}
{% block content %}



        </div>
    </div>
</div>    

<div id="section-about"onload="sampleFunction()">
    <div id="aboutcard" class="card col-md-8">
        <div class="card-header ">
          <b>ABOUT</b>
        </div>
        <div class="card-body">
          <p class="title">TITLE :  Buy The Grocery Item Required For your Food Image And Know How To Prepare
          </p>
          <p class="title">ABSTRACT :</p>
          <p class="aboutcontent">The food recognition and recipe recommendation system is a machine learning-based system that enables users to identify food items from images and provides them with step-by-step instructions on how to prepare the dish. The system uses deep learning algorithms to recognize food items from images and retrieve recipes from a large recipe database. The system also allows users to purchase ingredients from an online grocery store integrated with the system on a single click of a button, such as Jio Mart, if they do not have the required ingredients. The system aims to help users discover new recipes, prepare meals quickly, and conveniently purchase the required ingredients. The system's interface is user-friendly and intuitive, making it easy for users to navigate and interact with the system and it also built a connection b/w retail grocery store such as jio mart and the users
            </p>
        </div>
      </div>
</div>

{% endblock content %}
